# Kural Tabanlı Sınıflandırma ile Potansiyel Müşteri Getirisi Hesaplama

In [4]:
# Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None)
df = pd.read_csv(r"Data/persona.csv")
df.head(10)

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17
5     29  android  male     bra   17
6     19  android  male     bra   17
7     59  android  male     bra   17
8     49  android  male     bra   17
9     19  android  male     bra   17

In [21]:
df.shape

(5000, 5)

In [22]:
df["SEX"].value_counts()

female    2621
male      2379
Name: SEX, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB

In [24]:
df.dtypes

PRICE       int64
SOURCE     object
SEX        object
COUNTRY    object
AGE         int64
dtype: object

In [25]:
# Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
df["SOURCE"].unique()

array(['android', 'ios'], dtype=object)

In [26]:
# Soru 3: Kaç unique PRICE vardır?
df["PRICE"].unique()

array([39, 49, 29, 19, 59,  9], dtype=int64)

In [27]:
# Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
df["PRICE"].value_counts()

29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [28]:
# Soru 5: Hangi ülkeden kaçar tane satış olmuş?
df["COUNTRY"].value_counts()

usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [29]:
# Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
df.groupby("COUNTRY").agg({"PRICE":"sum"})

         PRICE
COUNTRY
bra      51354
can       7730
deu      15485
fra      10177
tur      15689
usa      70225

In [30]:
# Soru 7: SOURCE türlerine göre göre satış sayıları nedir?
df.groupby("SOURCE").agg({"PRICE":"count"})

         PRICE
SOURCE
android   2974
ios       2026

In [31]:
# Soru 8: Ülkelere göre PRICE ortalamaları nedir?
df.groupby("COUNTRY").agg({"PRICE":"mean"})

             PRICE
COUNTRY
bra      34.327540
can      33.608696
deu      34.032967
fra      33.587459
tur      34.787140
usa      34.007264

In [32]:
# Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
df.groupby("SOURCE").agg({"PRICE":"mean"})

             PRICE
SOURCE
android  34.174849
ios      34.069102

In [33]:
# Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
df.groupby(["COUNTRY","SOURCE"]).agg({"PRICE":"mean"})

                     PRICE
COUNTRY SOURCE
bra     android  34.387029
        ios      34.222222
can     android  33.330709
        ios      33.951456
deu     android  33.869888
        ios      34.268817
fra     android  34.312500
        ios      32.776224
tur     android  36.229437
        ios      33.272727
usa     android  33.760357
        ios      34.371703

In [34]:
# GÖREV 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir?
df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"}).head()

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897

In [66]:
# GÖREV 3: Çıktıyı PRICE'a göre sıralayınız.

# Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE'a uygulayınız.
# Çıktıyı agg_df olarak kaydediniz.

agg_df = df.groupby(["COUNTRY","SOURCE","SEX","AGE"]).agg({"PRICE":"mean"}).sort_values("PRICE", ascending=False)
agg_df.head()

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0

In [67]:
# GÖREV 4: Indekste yer alan isimleri değişken ismine çeviriniz.

# Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir.
# Bu isimleri değişken isimlerine çeviriniz.
# İpucu: reset_index()


agg_df = agg_df.reset_index()
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE
0     bra  android    male   46   59.0
1     usa  android    male   36   59.0
2     fra  android  female   24   59.0
3     usa      ios    male   32   54.0
4     deu  android  female   36   49.0

In [68]:
# GÖREV 5: AGE değişkenini kategorik değişkene çeviriniz ve agg_df'e ekleyiniz.

# Aralıkları ikna edici olacağını düşündüğünüz şekilde oluşturunuz.
# Örneğin: '0_18', '19_23', '24_30', '31_40', '41_70'
# AGE değişkeninin nerelerden bölüneceğini belirtelim:

bins = [0,18,23,30,40, agg_df["AGE"].max()]
bins

[0, 18, 23, 30, 40, 66]

In [69]:
# Age sayısal değişkenini kategorik değişkene çeviriniz.

my_labes = ["0_18", "19_23", "24_30", "31_40", "41_" + str(agg_df["AGE"].max())]
my_labes

['0_18', '19_23', '24_30', '31_40', '41_66']

In [70]:
# AGE değişkeninin nerelerden bölüneceğini belirtelim.

agg_df["age_cat"] = 5
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE  age_cat
0     bra  android    male   46   59.0        5
1     usa  android    male   36   59.0        5
2     fra  android  female   24   59.0        5
3     usa      ios    male   32   54.0        5
4     deu  android  female   36   49.0        5

In [71]:
bins

[0, 18, 23, 30, 40, 66]

In [72]:
my_labes

['0_18', '19_23', '24_30', '31_40', '41_66']

In [73]:
agg_df.loc[agg_df["AGE"] < 19, "agg_cat_m"] = "0_18"
agg_df.loc[(agg_df["AGE"] > 18) & (agg_df["AGE"] < 24), "agg_cat_m"] = "19_23"
agg_df.loc[(agg_df["AGE"] > 23) & (agg_df["AGE"] < 31), "agg_cat_m"] = "24_30"
agg_df.loc[(agg_df["AGE"] > 30) & (agg_df["AGE"] < 41), "agg_cat_m"] = "31_40"
agg_df.loc[agg_df["AGE"] > 40, "agg_cat_m"] = "41_66"
agg_df.head(10)

  COUNTRY   SOURCE     SEX  AGE  PRICE  age_cat agg_cat_m
0     bra  android    male   46   59.0        5     41_66
1     usa  android    male   36   59.0        5     31_40
2     fra  android  female   24   59.0        5     24_30
3     usa      ios    male   32   54.0        5     31_40
4     deu  android  female   36   49.0        5     31_40
5     deu  android  female   51   49.0        5     41_66
6     deu      ios    male   20   49.0        5     19_23
7     usa  android  female   47   49.0        5     41_66
8     fra      ios    male   20   49.0        5     19_23
9     usa      ios    male   59   46.5        5     41_66

In [43]:
agg_df.values[0][6]

'41_66'

In [75]:
agg_df.values[0][0]+"_"+agg_df.values[0][1]+"_"+agg_df.values[0][2]+"_"+agg_df.values[0][6]

'bra_android_male_41_66'

In [89]:
# customers_level_based adında bir değişken tanımlayınız ve veri setine bu değişkeni ekleyiniz

agg_df["customer_level_based"] = [row[0].upper() + "_" + row[1].upper() + "_" + row[2].upper() + "_" + row[6] for row in agg_df.values]

In [94]:
agg_df.head(10)

       customer_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0
5  DEU_ANDROID_FEMALE_41_66   49.0
6        DEU_IOS_MALE_19_23   49.0
7  USA_ANDROID_FEMALE_41_66   49.0
8        FRA_IOS_MALE_19_23   49.0
9        USA_IOS_MALE_41_66   46.5

In [95]:
# Let's add to the dataset/ Veri setine ekleyelim:

agg_df["customer_level_based"].value_counts().head(10)

BRA_ANDROID_MALE_24_30      7
USA_ANDROID_MALE_41_66      7
USA_IOS_FEMALE_24_30        7
BRA_ANDROID_FEMALE_24_30    7
USA_ANDROID_MALE_24_30      7
BRA_IOS_MALE_31_40          6
USA_ANDROID_FEMALE_24_30    6
USA_IOS_MALE_24_30          6
BRA_IOS_FEMALE_24_30        6
USA_ANDROID_MALE_31_40      6
Name: customer_level_based, dtype: int64

In [96]:
# Let's choose the necessary features./ Gereksiz değişkenleri çıkaralım:

agg_df = agg_df[["customer_level_based","PRICE"]]
agg_df.head(10)

       customer_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0
5  DEU_ANDROID_FEMALE_41_66   49.0
6        DEU_IOS_MALE_19_23   49.0
7  USA_ANDROID_FEMALE_41_66   49.0
8        FRA_IOS_MALE_19_23   49.0
9        USA_IOS_MALE_41_66   46.5

In [97]:
# Burada ufak bir problem var. Birçok aynı segment olacak. Segmentleri göre groupby yapıyoruz ve price oralamalarını alıyoruz.
agg_df.groupby("customer_level_based").agg({"PRICE": "mean"})
agg_df.head(10)

       customer_level_based  PRICE
0    BRA_ANDROID_MALE_41_66   59.0
1    USA_ANDROID_MALE_31_40   59.0
2  FRA_ANDROID_FEMALE_24_30   59.0
3        USA_IOS_MALE_31_40   54.0
4  DEU_ANDROID_FEMALE_31_40   49.0
5  DEU_ANDROID_FEMALE_41_66   49.0
6        DEU_IOS_MALE_19_23   49.0
7  USA_ANDROID_FEMALE_41_66   49.0
8        FRA_IOS_MALE_19_23   49.0
9        USA_IOS_MALE_41_66   46.5

In [52]:
# Yukarıda aldığımız price ortalamalarını agg_df değişkenine aktarıyoruz.

agg_df = agg_df.groupby("customer_level_based").agg({"PRICE":"mean"})

In [53]:
agg_df.head()

                              PRICE
customer_level_based
BRA_ANDROID_FEMALE_0_18   35.645303
BRA_ANDROID_FEMALE_19_23  34.077340
BRA_ANDROID_FEMALE_24_30  33.863946
BRA_ANDROID_FEMALE_31_40  34.898326
BRA_ANDROID_FEMALE_41_66  36.737179

In [100]:
#customers_level_based index'te yer almaktadır. Bunu değişkene çevirelim.

agg_df = agg_df.reset_index()
agg_df.head(10)

   index      customer_level_based  PRICE
0      0    BRA_ANDROID_MALE_41_66   59.0
1      1    USA_ANDROID_MALE_31_40   59.0
2      2  FRA_ANDROID_FEMALE_24_30   59.0
3      3        USA_IOS_MALE_31_40   54.0
4      4  DEU_ANDROID_FEMALE_31_40   49.0
5      5  DEU_ANDROID_FEMALE_41_66   49.0
6      6        DEU_IOS_MALE_19_23   49.0
7      7  USA_ANDROID_FEMALE_41_66   49.0
8      8        FRA_IOS_MALE_19_23   49.0
9      9        USA_IOS_MALE_41_66   46.5

In [101]:
# Kontrol edelim. her bir persona'nın 1 tane olmasını bekleriz.
agg_df["customer_level_based"].value_counts()
agg_df.head(10)

   index      customer_level_based  PRICE
0      0    BRA_ANDROID_MALE_41_66   59.0
1      1    USA_ANDROID_MALE_31_40   59.0
2      2  FRA_ANDROID_FEMALE_24_30   59.0
3      3        USA_IOS_MALE_31_40   54.0
4      4  DEU_ANDROID_FEMALE_31_40   49.0
5      5  DEU_ANDROID_FEMALE_41_66   49.0
6      6        DEU_IOS_MALE_19_23   49.0
7      7  USA_ANDROID_FEMALE_41_66   49.0
8      8        FRA_IOS_MALE_19_23   49.0
9      9        USA_IOS_MALE_41_66   46.5

In [56]:
# GÖREV 7: Yeni müşterileri bu segmentlere göre sınıflandırınız.
# segmentleri "SEGMENT" isimlendirmesi ile agg_df'e ekleyiniz,
# segmentleri betimleyiniz,

agg_df["SEGMENT"] = pd.qcut(agg_df["PRICE"], 4, labels= ["D", "C", "B", "A"])
agg_df.head()

       customer_level_based      PRICE SEGMENT
0   BRA_ANDROID_FEMALE_0_18  35.645303       B
1  BRA_ANDROID_FEMALE_19_23  34.077340       C
2  BRA_ANDROID_FEMALE_24_30  33.863946       C
3  BRA_ANDROID_FEMALE_31_40  34.898326       B
4  BRA_ANDROID_FEMALE_41_66  36.737179       A

In [57]:
# PRICE'a göre segmentlere ayırınız.

agg_df.groupby("SEGMENT").agg({"PRICE":"mean"})

             PRICE
SEGMENT
D        29.206780
C        33.509674
B        34.999645
A        38.691234

In [58]:
# GÖREV 8: Yeni gelen müşterileri sınıflandırınız ne kadar gelir getirebileceğini tahmin ediniz.

# 33 yaşında ANDROID kullanan bir Türk kadını hangi segmente aittir ve ortalama ne kadar gelir kazandırması beklenir?
new_user = "TUR_ANDROID_FEMALE_31_40"
agg_df[agg_df["customer_level_based"] == new_user]

        customer_level_based      PRICE SEGMENT
72  TUR_ANDROID_FEMALE_31_40  41.833333       A

In [102]:
# 35 yaşında IOS kullanan bir Fransız kadını hangi segmente ve ortalama ne kadar gelir kazandırması beklenir?

new_user = "FRA_IOS_FEMALE_31_40"
agg_df[agg_df["customer_level_based"] == new_user]

     index  customer_level_based      PRICE
208    208  FRA_IOS_FEMALE_31_40  33.000000
221    221  FRA_IOS_FEMALE_31_40  32.636364